<!-- Historical Section -->
<section id="Collection" class="content-section text-center">
    <div class="Collection-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Movie Collection</h2>
            <div class="col-md-4">
                <img src="/img/perso_gené.png" alt="Horror Frame" class="img-responsive persodracula1">
            </div>

            <div class="col-md-4">
                <img src="/img/dracula.png" alt="Horror Frame" class="img-responsive persodracula2">
            </div>

            <div class="col-md-12 textdracula1">
                <p> BLA BLA OH OH DRACULA IS AWOKEN    
                </p>


            <!-- Bouton de scroll -->
            <div class="scroll-button-container_collection">
                <a href="#End" class="btn btn-circle page-scroll_collection">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>

        
        </div>
</section>

<div class="section-divider"></div>