<!-- Diversity Section -->
<section id="Diversity" class="content-section text-center">
    <div class="Diversity-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Evolution of diversity</h2>

                <div class="row align-items-center">

                    <!-- INTRO -->
                    <div class="col-md-12 text-content-Diversity-1">
                        <p>Now, dear visitor, welcome to the place where the faces of horror are not only illuminated, but also scrutinized through the lens of gender and ethnicity. It’s here that we pull back the veil on the stars, revealing not just their performances, but the social roles they play in the terrifying world of cinema.</p>
                    </div>

                    <!-- Graph container -->
                    <div class="col-md-4">
                        <div id="gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Evolution_Male_Female.html %}
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="col-md-4">
                        <img src="/img/frame5.png" class="img-responsive frame-image-Diversity-1">
                    </div>

                    <!-- Perso -->
                    <div class="col-md-4">
                        <img src="/img/perso_gauche.png" class="img-responsive perso-image-Diversity-1">
                    </div>

                    <!-- Text container -->
                    <div class="col-md-12 text-content-Diversity-2">
                        <p> Let's start with the truly fascinating evolution of gender in horror films, and how it compares to the broader film industry.
                            While men have been the dominant figure in both genres, horror seems to have an interesting shift. In the earlier years, the proportion of women in horror films was rather low, but as we approach the modern age, there is a slight increase in representation, though it still pales in comparison to men.
                            But here’s the dark twist: notice how the gap between men and women in horror films seems to widen significantly after the 1960s—particularly in the 1990s. It is as if the horror genre became more and more dominated by male-centric stories, with women relegated to victim roles or secondary characters. The 2000s onwards seem to show a slight shift, but still... one must wonder, are we truly seeing the full potential of female horror icons?
                            
                            Perhaps this is why Dracula has always preferred the company of strong, fierce women, he understands the power they hold, even if the rest of the world hasn’t caught on quite as quickly.
                        </p>
                    </div>

                    <!-- FIG Witches  -->
                    <!-- Text Container --> 
                    <div class="col-md-12 text-content-Diversity-3">
                        <p> In the realm of witch-themed films, the portrayal of actors reveals some rather intriguing trends. First, we see that 71.4% of the actors are women—quite fitting, for witches have long been depicted as powerful, often mysterious female figures. It is no surprise that my master, Dracula, would appreciate this focus on strong women, though he may not understand the scarcity of male witches, with only 28.6% of actors being men.
                            As for ethnicity, the dominance of European actors, particularly women, is undeniable, followed by a respectable number of North Americans. However, the presence of Asian actors is woefully minimal, indicating that the witch archetype remains largely tied to European folklore. For Dracula, this European dominance might feel rather comforting, given his roots, but he would surely be intrigued by the absence of other cultures' interpretations of the witch.                            
                        </p>
                    </div>
                    
                    <!-- Graph Gender -->
                    <div class="col-md-4">
                        <div id="witch_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_WITCH_in_the_title_1.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Gender -->
                    <div class="col-md-4">
                        <img src="/img/frame2.png" class="img-responsive frame-image-Diversity-2">
                    </div>

                    <!-- Graph Ethnicity + Gender -->
                    <div class="col-md-4">
                        <div id="witch_ethnicity_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Actor_Ethnicities_in_Movies_with_WITCH_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity + Gender -->
                    <div class="col-md-4">
                        <img src="/img/frame4.png" class="img-responsive frame-image-Diversity-3">
                    </div>                    

                    <!-- Graph Ethnicity -->
                    <div class="col-md-4">
                        <div id="witch_ethnicity_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_WITCH_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity -->
                    <div class="col-md-4">
                        <img src="/img/frame3.png" class="img-responsive frame-image-Diversity-4">
                    </div>         
                    
                    <!-- Perso -->
                    <div class="col-md-4">
                        <img src="/img/perso_cadre.png" class="img-responsive perso-image-Diversity-2">
                    </div>

                    <!-- FIG Vampire  -->
                    <!-- Text Container --> 
                    <div class="col-md-12 text-content-Diversity-4">
                        <p> 
                            Ah, we now find ourselves in the vampire realm, a subject dear to my master's heart, of course. Let’s take a look at the three plots for this genre:
                            In the world of vampire films, the representation of actors by gender and ethnicity is quite telling. First, we see a relatively balanced gender split with 61% of the actors being male and 39% female. This shows that while men are more prominently featured, there is still a considerable presence of women, reflecting the duality of vampire stories—where both powerful men and women take center stage in these dark tales.
                            As for ethnicity, European actors dominate the genre, with a significant number of North American actors as well. Asian and Latino/Hispanic actors are far less represented, which aligns with the traditional European roots of vampire lore—Dracula himself being the prime example. The vampire genre has largely stayed true to its European origins, even as it gains global popularity.
                        </p>
                    </div>
                    
                    <!-- Graph Gender -->
                    <div class="col-md-4">
                        <div id="vampire_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_VAMPIRE_in_the_title_1.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Gender -->
                    <div class="col-md-4">
                        <img src="/img/frame2.png" class="img-responsive frame-image-Diversity-5">
                    </div>

                    <!-- Graph Ethnicity + Gender -->
                    <div class="col-md-4">
                        <div id="vampire_ethnicity_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Actor_Ethnicities_in_Movies_with_VAMPIRE_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity + Gender -->
                    <div class="col-md-4">
                        <img src="/img/frame4.png" class="img-responsive frame-image-Diversity-6">
                    </div>                    

                    <!-- Graph Ethnicity -->
                    <div class="col-md-4">
                        <div id="vampire_ethnicity_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_VAMPIRE_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity -->
                    <div class="col-md-4">
                        <img src="/img/frame3.png" class="img-responsive frame-image-Diversity-7">
                    </div>         
                    
                    <!-- Perso -->
                    <div class="col-md-4">
                        <img src="/img/perso_droite.png" class="img-responsive perso-image-Diversity-3">
                    </div> 
                    
                    <!-- Text Container 2 -->
                    <div class="col-md-12 text-content-Diversity-5">
                        <p> 
                            When we combine both gender and ethnicity, we see that North American male actors take the lead, followed by European female actors. This breakdown suggests that, while vampire stories are often about powerful and seductive individuals, the focus remains heavily on North American male leads, with European women—often the romantic or tragic figures—receiving substantial screen time as well. The relative lack of representation for other ethnicities shows that vampire films still mostly adhere to the classic European narrative.
                            Ah, yes, my master Dracula would certainly appreciate the focus on European actors, especially women—although, as always, he might have a few thoughts about the unbalanced portrayal of different cultures. Surely there are more stories to be told, beyond the confines of Transylvanian castles?

                            Shall we continue further, dear visitor?
                         </p>
                    </div>
                    

                    <!-- FIG Preys and Predators  -->
                    <!-- Text Container --> 
                    <div class="col-md-12 text-content-Diversity-6">
                        <p> 
                            In the Predator genre, 72.5% of the actors are male, with 27.5% female. This clearly shows a strong male dominance in these films, with men taking on the primary roles as soldiers or hunters battling the alien predator. Women, while present, are significantly underrepresented. As for ethnicity, North American actors lead by a wide margin, followed by European actors. Latino/Hispanic actors make up a much smaller proportion, and other ethnicities are barely represented.
                        </p>
                    </div>
                    
                    <!-- Graph Gender Predator -->
                    <div class="col-md-4">
                        <div id="predator_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_PREDATOR_in_the_title_1.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Gender Predator -->
                    <div class="col-md-4">
                        <img src="/img/frame2.png" class="img-responsive frame-image-Diversity-8">
                    </div>

                    <!-- Graph Ethnicity + Gender Predator -->
                    <div class="col-md-4">
                        <div id="predator_ethnicity_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Actor_Ethnicities_in_Movies_with_PREDATOR_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity + Gender Predator -->
                    <div class="col-md-4">
                        <img src="/img/frame4.png" class="img-responsive frame-image-Diversity-9">
                    </div>                    

                    <!-- Graph Ethnicity Predator -->
                    <div class="col-md-4">
                        <div id="predator_ethnicity_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_PREDATOR_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity Predator -->
                    <div class="col-md-4">
                        <img src="/img/frame3.png" class="img-responsive frame-image-Diversity-10">
                    </div>         
                    
                    <!-- Perso -->
                    <div class="col-md-4">
                        <img src="/img/perso_gauche.png" class="img-responsive perso-image-Diversity-4">
                    </div> 
                    
                    <!-- Text Container 2 -->
                    <div class="col-md-12 text-content-Diversity-7">
                        <p> 
                            In contrast, Prey films show a more balanced gender split, with 58.2% male and 41.8% female actors. The gender gap here is narrower, reflecting the increased presence of women in leading roles in Prey, where they often act as the main protagonists. Ethnically, North American actors are again the largest group, but European actors are more closely represented compared to Predator, and Middle Eastern actors also appear in a more substantial number.
                        </p>
                    </div>                     
                    
                    <!-- Graph Gender Prey -->
                    <div class="col-md-4">
                        <div id="prey_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_PREY_in_the_title_1.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Gender Prey -->
                    <div class="col-md-4">
                        <img src="/img/frame2.png" class="img-responsive frame-image-Diversity-11">
                    </div>

                    <!-- Graph Ethnicity + Gender -->
                    <div class="col-md-4">
                        <div id="prey_ethnicity_gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Actor_Ethnicities_in_Movies_with_PREY_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity + Gender -->
                    <div class="col-md-4">
                        <img src="/img/frame4.png" class="img-responsive frame-image-Diversity-12">
                    </div>                    

                    <!-- Graph Ethnicity -->
                    <div class="col-md-4">
                        <div id="prey_ethnicity_graph" class="graph-container">
                            {% include /Plots/Diversity/Movies_with_PREY_in_the_title.html %}
                        </div>
                    </div>        
                    
                    <!-- Frame Ethnicity -->
                    <div class="col-md-4">
                        <img src="/img/frame3.png" class="img-responsive frame-image-Diversity-13">
                    </div>         

                </div>

                <a href="#Tropes" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>            
    </div>
</section>

<div class="section-divider"></div>