<!-- Diversity Section -->
<section id="Diversity" class="content-section text-center">
    <div class="Diversity-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Evolution of diversity</h2>

                <div class="row align-items-center">

                    <!-- INTRO -->
                    <div class="col-md-12 text-content-Diversity-1">
                        <p>Now, dear visitor, welcome to the place where the faces of horror are not only illuminated, but also scrutinized through the lens of gender and ethnicity. It’s here that we pull back the veil on the stars, revealing not just their performances, but the social roles they play in the terrifying world of cinema.</p>
                    </div>

                    <!-- Graph container -->
                    <div class="col-md-4">
                        <div id="gender_graph" class="graph-container">
                            {% include /Plots/Diversity/Evolution_Male_Female.html %}
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="col-md-4">
                        <img src="/img/frame5.png" class="img-responsive frame-image-Diversity-1">
                    </div>

                    <!-- Perso -->
                    <div class="col-md-4">
                        <img src="/img/perso_gauche.png" class="img-responsive perso-image-Diversity-1">
                    </div>

                    <!-- Text container -->
                    <div class="col-md-12 text-content-Diversity-2">
                        <p> Let's start with the truly fascinating evolution of gender in horror films, and how it compares to the broader film industry.
                            While men have been the dominant figure in both genres, horror seems to have an interesting shift. In the earlier years, the proportion of women in horror films was rather low, but as we approach the modern age, there is a slight increase in representation, though it still pales in comparison to men.
                            But here’s the dark twist: notice how the gap between men and women in horror films seems to widen significantly after the 1960s—particularly in the 1990s. It is as if the horror genre became more and more dominated by male-centric stories, with women relegated to victim roles or secondary characters. The 2000s onwards seem to show a slight shift, but still... one must wonder, are we truly seeing the full potential of female horror icons?
                            
                            Perhaps this is why Dracula has always preferred the company of strong, fierce women, he understands the power they hold, even if the rest of the world hasn’t caught on quite as quickly.
                        </p>
                    </div>


                    <!-- FIG 1 -->
                    <!-- Text Container --> 

            
                </div>

                <a href="#Tropes" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>            
    </div>
</section>

<div class="section-divider"></div>