<!-- Diversity Section -->
<section id="Diversity" class="content-section text-center">
    <div class="Diversity-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>Evolution of diversity</h2>
                <p>
                    Plots
                </p>
                <a href="#Tropes" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
</section>

<div class="section-divider"></div>