<!-- End Section -->
<section id="End" class="content-section text-center">
    <div class="End-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>Sorry dear visitor</h2>

                <div class="col-md-4">
                    <img src="/img/tete_coupee.png" alt="Horror Frame" class="img-responsive persoend1">
                </div>
    
                <div class="col-md-12 textend1">
                    <p> It seems that you should go 
                    </p>
                </div>  
        </div>
</section>

<div class="section-divider"></div>