<!-- Historical Section -->
<section id="Historical" class="content-section text-center">
    <div class="Historical-section">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>Impact of historical events</h2>
                <p>
                    Plots
                </p>
                <a href="#End" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
</section>

<div class="section-divider"></div>