<!-- Historical Section -->
<section id="Triggers" class="content-section text-center">
    <div class="Triggers-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>The hall of Fears</h2>


            <!-- Joke -->
            <div class="col-md-4">
                <img src="/img/porte.png" alt="Horror Frame" class="img-responsive porte">
            </div>

            <div class="col-md-4">
                <img src="/img/perso_gené.png" alt="Horror Frame" class="img-responsive perso0">
            </div>

            <div class="col-md-12 text0">
                <p> Now we are in the hall of all fears, an other beautiful piece of my master's collection.
                    Dracula uses this room to study how to scare people. As you may imagine, this evolves over the years, the public...

                    Here behind this door... Oh, it seems that it's the storage room, where we put the unprocessed data... I guess I forgot to close the door!
                     Please forget that and let's continue, shall we?
                </p>
            </div>


            <!-- Bouton de scroll -->
            <div class="scroll-button-container_triggers">
                <a href="#Titles" class="btn btn-circle page-scroll_triggers">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
</section>

<div class="section-divider"></div>