<section id="World" class="content-section text-center">
    <div class="World-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>An overview of horror movies around the world</h2>

                <div class="row align-items-center">

                    <!-- Text Container -->
                    <div class="col-md-12 text-content1">
                        <p> Let's start with an overview of horror movies around the world, shall we?</p>
                    </div>

                    <div class="col-md-4">
                        <img src="/img/hist_release.png" alt="Horror Frame" class="img-responsive hist">
                    </div>

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="/img/frame4.png" alt="Horror Frame" class="img-responsive frame-image1">
                    </div>

                    <!-- Image du personnage -->
                    <div class="col-md-4">
                        <img src="/img/perso_gauche.png" alt="Horror World" class="img-responsive perso-image1">
                    </div>

                    <!-- Text Container -->
                    <div class="col-md-12 text-content2">
                        <p> Ah, yes, this is a fascinating one to start with. A graph that shows not just the rise of cinema in general, but the peculiar rise of horror films. Do you see these peaks? Very interesting, indeed. But let me explain.
                            As you can see, the overall number of films has been on the up-and-up since the last century—no surprise there, as humanity loves its distractions, especially after a long day of... well, you know, surviving in this chaotic world.
                            Now, what you’ll notice is a very strong surge after the 90s, particularly in the realm of horror films. It's almost as if the genre is... feeding off something deeper in society. But let’s break it down a bit further, shall we?
                        </p>
                    </div>

                    <div class="col-md-12 text-content3">
                        <p> Take a look at the first spike: the early 70s, a time period marked by social unrest—Vietnam, civil rights movements, a world in turmoil. People turned to horror films to confront their fears about a changing world. Horror, you see, always mirrors society’s anxieties.
                        </p>
                    </div>

                    <div class="col-md-12 text-content33">
                        <p> 
                            Now, in the late 80s to early 90s, the Cold War was ending, but tension still hung in the air. Films played on the fear of the unknown, and slasher films reflected anxieties about a collapsing societal order.
                            And then, from 2002 to 2019, we see a massive rise in horror films, coinciding with the War on Terror, the 2008 economic crash, and general uncertainty. People sought comfort in films tapping into collective dread about a chaotic, post-apocalyptic world.
                            Dracula, ever the observer of human nature, has seen these patterns unfold for centuries. Horror films are more than entertainment—they're a reflection of our deepest fears. And that, my dear visitor, is why Dracula is so fascinated by them.
                        </p>
                    </div>

                    <!-- Text Container -->
                    <div class="col-md-12 text-content4">
                        <p> In this world map, we can observe the locations 
                            where horror films are produced. The robust 
                            Mann-Whitney test reveals a significant difference 
                            in rankings between Occidental and non-Occidental 
                            countries. Clearly, the USA and Europe are major 
                            production hubs in Occidental countries. In contrast, 
                            highly populated non-Occidental countries such as India 
                            and China are among the largest producers, as expected. 
                            Japan and Korea, however, stand out as outliers due to 
                            their highly developed and influential cinematic industries.
                        </p>
                    </div>

                    <!-- Image du personnage -->
                    <div class="col-md-4">
                        <img src="/img/perso_gauche.png" alt="Horror World" class="img-responsive perso-image2">
                    </div>

                    <!-- Image du cadre -->
                    <div class="col-md-4">
                        <img src="/img/frame2.png" alt="Horror Frame" class="img-responsive frame-image">
                    </div>

                    <!-- Conteneur du graphe -->
                    <div class="col-md-8">
                        <div class="graph-container">
                            {% include Themes_Across_Regions.html %}
                        </div>
                    </div>
                </div>

                <!-- Bouton de scroll -->
                <div class="scroll-button-container">
                    <a href="#Diversity" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-divider"></div>